.page {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  background: rgba(220, 220, 220, 1);
  color: rgba(40, 100, 105, 1);
  text-shadow: 1px 1px 5px rgba(220, 220, 220, 0.5);
}

::selection {
  background: rgba(40, 100, 105, 1);
  color: #fff; /* Black */
}

::-moz-selection {
  background: rgba(40, 100, 105, 1);
  color: #fff; /* Black */
}

/* Customizing the scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent; /*#f1f1f1; */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
