.page {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  background: rgba(220, 220, 220, 1);
  color: rgba(40, 100, 105, 1);
  text-shadow: 1px 1px 5px rgba(220, 220, 220, 0.5);
}
