.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 48px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.3);
  font-weight: 200;
}

.header__logo {
  background-image: url("../../assets/3.jpeg");
  background-position: center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin: 8px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-right: 5vw;
}

.nav__link {
  text-wrap: nowrap;
  margin: 0 16px;
  width: 64px;
  font-weight: 100;
}

.text-link {
  text-decoration: none;
  color: rgba(40, 100, 105, 1);
  transition: color 0.4s, text-shadow 0.4s;
}

.text-link:hover {
  color: black;
  text-shadow: 3px 3px 10px rgba(40, 100, 105, 0.5);
}

.link-1,
.link-2,
.link-3 {
  position: relative;
  left: -64px;
  opacity: 0;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.link-1 {
  animation-name: fadeInRight-1;
  animation-delay: 0s;
}

.link-2 {
  animation-name: fadeInRight-2;
  animation-delay: 0.1s;
}

.link-3 {
  animation-name: fadeInRight-3;
  animation-delay: 0.2s;
}

@keyframes fadeInRight-1 {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight-2 {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight-3 {
  to {
    left: 0;
    opacity: 1;
  }
}
