.footer {
  text-align: center;
  padding: 0;
}

.footer__person-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 64px;
  padding: 0;
}

.footer__person {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 32px 0;
}

.footer__person-title {
  margin: 0 0 8px 0;
}

.footer__person-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.footer__person-link {
  margin: 16px 0 0;
}

.footer__person-link-img {
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
}

.footer__copyright {
  margin: 72px 0 0 0;
  opacity: 0.7;
}
